*{
    background-color: #fdfdbb; 
}
div{
    margin: 20px;
}
a{
    color: red;
}
h5{
    text-align: center;
}
th{
    background-color: #259e3f;
}
td{
    background-color: #000000;
    color: white;
}
#Footer{
    margin-top: 150px;
}